.devbox{
  margin-top: 50px;
  margin-bottom:50px ;
}
.maincontainer{
  background-color: #222831;
  
}
.card {
    background-color: #222831;
    height: 37rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(235, 25, 110, 1);
    color: white;
    margin: 20px;
  }
  .card__name {
    margin-top: 15px;
    font-size: 1.8em;
  }
  .card__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
  }
  .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  }

  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 3em;
  }
  .social-icons i {
    color: #fff;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
  }
  