.faculty-list{
    margin-left: 20%;
    box-sizing: border-box;
    width: 65%;
    height: 80vh;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

.faculty-head{
    background-color: black;
    color: azure;
    font-family: cursive;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20%;
    padding: 10px;
}

.faculty-body{
    border: 1px solid rgb(14, 13, 13);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(15, 10, 10);
    text-align: center;
    /* border: 3px solid rgb(238, 146, 66); */
}
.design-row:nth-child(odd) {
  
    background-color: rgb(141, 161, 133);
    /* background-color: rgb(180, 21, 77); */
  }
  .design-row:nth-child(even) {
    background-color: rgb(177, 231, 169);
  }
  
  .faculty-main-header{
      padding: 55px;
      /* margin-left: 39%; */
      text-align: center;
      text-shadow: 1px 1px 8px #120b4e;
      font-size: 45px;
      
  }
  .editLink{
      color: black;
      font-size: 20px;
      text-align: center;
  }
  
  
  
  
  
  
  
  


  
  
  
  