.con1{
    border: 2px solid black;
    width: 30rem;
    background-color: rgb(218, 219, 141);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 5px rgb(54, 53, 54);
    margin: auto;
    margin-bottom: 20px;
}

.head1{
    font-family: 'Karantina', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: 40%;
    color: #432268;
    text-decoration: underline;
}

.date-today1{
    /* position: relative;
    right: 39%; */
    color: red;
    font-weight: bolder;
}



.link-to-notice1{
    text-decoration: none;
    color: black;
    text-align: left;
   
}






.link-to-notice1{
    margin-right: 40px;
    text-align: left;
}