.cardss {
    background-color: #222831;
    height: inherit;
    width:31rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(235, 25, 110, 1);
    color: white;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 35%;
    padding: 5px;

  }
  
  .cards__name {
    margin: auto;
    width: 24rem;
    border: 0px solid;
    font-size: 1.8em;
    word-wrap: break-word;
    align-items: center;
    text-align: center;
    
  }
  .cards__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
  }

  
  .container1{
margin-left: 22%;
   
  }
  .header1{
    margin-left: 31%;
  }
  .header2{
    margin-right: 14%;
  }