.container{
  margin-left: 30%;
}
.atten {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #432268;
  width: 40%;
  margin-top: 0%;
  margin-bottom: 10px;
  margin-left: 30%;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;

}
.tabledata {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.tablehead1 {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.tablerow:nth-child(odd) {
  background-color: rgb(147, 168, 162);
}
.tablerow:nth-child(even) {
  background-color: rgb(213, 223, 171);
}

.tHeader,
.tabledata {
  border: 1px solid rgb(36, 34, 34);
  padding: 15px;
}

.tablehead1 {
  color: #f5f5f5;
  background-color: rgb(41, 38, 38);
  padding: 15px;
}

.tHeader {
  margin-top: 2%;
  padding: 15px;
}

.tHeader {
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
}

.tHeader .tablebody {
  display: block;
  width: 100%;
  overflow: auto;
  
}

.tHeader .tablehead .tablerow {
  display: inline-block;
}

.tHeader .tablehead1 {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.tHeader .tabledata {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.date-present{
  margin-bottom: 10px;
  margin-left: 32.5%;
  width: 35%;
  border: 3px solid gray;
  border-radius: 7px;
  color: #432268;
  
}
.centerdiv{
  align-items: center;
  border: 1px 1px 1px solid black
}