.atten {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #432268;
  width: 30%;
  height: inherit;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}
.tabledata {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.tablehead1 {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.tablerow:nth-child(odd) {
  background-color: rgb(180, 21, 77);
}
.tablerow:nth-child(even) {
  background-color: azure;
}

.tHeader,
.tabledata {
  border: 2px solid rgb(104, 119, 106);
  padding: 15px;
}

.tablehead1 {
  color: #f5f5f5;
  background-color: rgb(41, 38, 38);
  padding: 15px;
}

.tHeader {
  margin-top: 2%;
  padding: 15px;
}

.tHeader {
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
  margin: auto;
}

.tHeader .tablebody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

.tHeader .tablehead .tablerow {
  display: inline-block;
}

.tHeader .tablehead1 {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.tHeader .tabledata {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.date-present{

  margin-left: 32%;
  width: 35%;
  border: 3px solid gray;
  border-radius: 10px;
  color: #432268;
  
}
.centerdiv{
  align-items: center;
}