.atten {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #432268;
  width: 15%;
  height: 17%;
  border: 3px solid black;
  margin-left: 74%;
  border-radius: 5px;
  text-align: center;
}
td {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

th {
  font-family: "Karantina", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
tr:nth-child(odd) {
  background-color: rgb(180, 21, 77);
}
tr:nth-child(even) {
  background-color: azure;
}

table,
td {
  border: 2px solid rgb(104, 119, 106);
  padding: 15px;
}

th {
  color: #f5f5f5;
  background-color: rgb(41, 38, 38);
  padding: 15px;
}

table {
  margin-top: 2%;
  margin-left: 68%;
  padding: 15px;
}

.tHeader {
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.tHeader tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

.tHeader thead tr {
  display: inline-block;
}

.tHeader th {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.tHeader td {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.date-present{
  margin-left: 74%;
  margin-top: 2%;
  width: 15%;
  border: 3px solid gray;
  border-radius: 10px;
  color: #432268;
}