.doubt-pic{
    height:150px;
    width:150px;
    margin-top: 7%;
    /* margin-left: 35%; */
    border-radius: 80px;
}

.doubt-sugg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgba(40, 41, 40, 0.863);
    margin-top: 3%;
    /* margin-left: 3%;
    margin-right: 3%; */
}

.subject{
    width:50%;
    /* height: 7%; */
    /* margin-left: 20%; */
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}

.questions{
    width: 50%;
    height: 30%;
    margin-left: 7.2%;
    margin-top: 2%;
    margin-right: 7.5%;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}

/* .ask-doubt{
    /* background-color: rgb(158, 172, 170); */
    /* height: 100 vh; */
 */

.submit-doubt{
    margin-top: 2%;
    border: 3px solid rgb(31, 7, 88);
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 7.5%;
    height: 10%;
}

.advice{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    /* margin-left: 30%; */
    text-decoration: underline;
}

.cont{
    background-color: rgb(211, 212, 133);

    width: 60%;
    margin-left: 25%;
    border-radius: 20px;
    text-align: center;
}

.subButton{
    margin-top: 2%;
    margin-bottom: 2%;

    /* margin-left: 38%; */
}

.main-headeer{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
font-weight: bolder;
/* margin-left: 35%; */
}