
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 16%;
    background-color: rgb(180, 21, 77);
    padding: 20px;
    border-radius: 10px;
    color: #f5f5f5;
    margin-bottom: 20px;
    transform: translate(0px, 150px);
  }
  
  .form > h1 {
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  
  .form > input,
  textarea {
    padding: 10px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    width: 860px;
    border: 1px solid lightgray;
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgb(0, 0, 32);
    outline: none;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .form > textarea {
    height: 150px;
    max-width: 860px;;
    min-height: 100px;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: rgb(0, 0, 32);
    font-weight: bold;
  }
  
  .form > button {
    padding: 10px;
    border: none;
    background-color: #432268;
    font-weight: 400;
    font-size: 15px;
    border-radius: 3px;
    color: #f5f5f5;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    width: 860px;
    margin-bottom: 10px;
  }
  
  .form > button:hover {
    background-color: rgb(0, 0, 196);
  }